{% extends 'base.html' %}

{% block title %}
New Post Form
{% endblock %}

{% block content %}
<h1>Add Post for {{ user.full_name }}</h1>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
         if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %}

  
  <a href="/users/{{ user.id }}" class="btn btn-outline-success">Cancel</a>
  <button class="btn btn-success">Add</button>

</form>
{% endblock %}
